#Header{
    top: 1px;

}

#Home{
    top: 1px;
}
#About{
    top: 1px;
}
#Skills{
    top: 1px;
}
#Education{
    top: 1px;
}
#Projects{
    top: 1px;
}
#Experiences{
    top: 1px;
}
#Contact{
    top: 1px;
}
